In [1]:
print("hello World!")

hello World!

In [2]:
name ="Tayyab"

In [3]:
print(name)

Tayyab

In [4]:
name = "Saleem"

In [6]:
print(name)

Saleem

In [7]:
original_num = 23
new_num = original_num + 7

In [8]:
print(new_num)

30

In [9]:
original_num = 23
num_to_be_added = 7
new_num = original_num + num_to_be_added
new_num

30

In [10]:
original_num = 90
original_num = original_num + 10

In [11]:
original_num

100

In [12]:
popular_number = 2 + 2

In [13]:
print(popular_number)

4

In [18]:
total_cost = (1 + 3) * 4

In [19]:
total_cost

16

In [22]:
result_of_computation = (2 * 4) * (4 + 2)
result_of_computation

48

In [27]:
greeting = "Hello"
addressee = " World"

In [28]:
whole_greeting = greeting +  addressee
whole_greeting

'Hello World'

In [29]:
whole_greeting = "Hello, " + "World!"

In [30]:
whole_greeting

'Hello, World!'

In [32]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [1]:
species = "cat"

In [2]:
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [3]:
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

In [8]:
if 2 + 3 == 5:
    print("Everything makes sense.")

Everything makes sense.

In [9]:
species = "catt"

In [10]:
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Nope, not cat.

In [26]:
donut_condition = "not fresh"

In [33]:
donut_price = "reasonable"

In [34]:
if donut_condition == "fresh":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0

In [35]:
print(buy_score)

0

In [36]:
donut_filling = "chocolate"

In [37]:
buy_score = 0
if donut_condition == "fresh":
    buy_score += 10
if donut_filling == "chocolate":
    buy_score += 5
if donut_price == "reasonable":
    buy_score += 7

In [38]:
print(buy_score)

12

In [39]:
if a == b:
  c == d
else:
  e = f

NameError: name 'a' is not defined

In [91]:
weight = 400

In [95]:
time = 5

In [96]:
if weight > 300 and time < 6:
    status1 = "try to recruit him"

In [97]:
print(status1)

try to recruit him

In [116]:
name = "tayyab"

In [122]:
age = 3

In [123]:
tayyab = "name"

In [125]:
if name == "tayyab" or age == 30:
    print("great")
else:
    print("try again")

great

In [3]:
# This is a comment.
# This is another comment.
# Python ignores these comments.
# The code that Python executes is next, on line
print("Hello, world!")

Hello, world!

In [10]:
'''
if first_name == "Harry":
if last_name == "Potter":
if interest == "wizardry":
print("Welcome back to Hogwarts, Harry!")
'''
print("ok")

ok

In [11]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

In [12]:
print("Welcome to " + city_3)

Welcome to Denver

In [14]:
print(f"Welcome to {city_3}")

Welcome to Denver

In [19]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [20]:
print("Welcome to " + cities[3])

Welcome to Denver

In [21]:
cities[2]

'Chicago'

In [23]:
cities.append("tayyab")

In [24]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab']

In [25]:
cities = cities + [34, 45]

In [26]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45]

In [27]:
mixed_list = cities + ["hell0", 98, 737]

In [28]:
mixed_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45,
 'hell0',
 98,
 737]

In [30]:
task = []

In [32]:
task.append("wakeup")

In [33]:
task

['wakeup']

In [34]:
cities.insert(1, 26546543)

In [35]:
cities

['Atlanta',
 26546543,
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45]

In [36]:
cities[1] = "lucy"

In [37]:
cities

['Atlanta',
 'lucy',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45]

In [38]:
shortlist = cities[2:5]
shortlist

['Baltimore', 'Chicago', 'Denver']

In [41]:
choti = cities[:5]
choti

['Atlanta', 'lucy', 'Baltimore', 'Chicago', 'Denver']

In [42]:
akhri = cities[8:]
akhri

[34, 45]

In [43]:
cities

['Atlanta',
 'lucy',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45]

In [44]:
cities.insert(0, 235)

In [45]:
cities

[235,
 'Atlanta',
 'lucy',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'tayyab',
 34,
 45]

In [50]:
del cities[6]
cities

['Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'tayyab', 45]

In [51]:
cities.remove(45)
cities

['Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'tayyab']

In [78]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [79]:
completed = []

In [85]:
completed.append(tasks.pop(0))

IndexError: pop from empty list

In [84]:
completed

['email Frank', 'call Sarah', 'meet with Zach']

In [72]:
tasks

['email Frank', 'call Sarah']

In [86]:
states = ("Delaware", "Pennsylvania", "New Jersey", "Georgia")

In [91]:
del states[0]

TypeError: 'tuple' object doesn't support item deletion

In [11]:
city_to_check = "Tucson"

In [12]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]

In [13]:
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")

It's one of the cleanest cities

In [14]:
for a in cleanest_cities:
    if city_to_check == a:
        print("great")
        break

great

In [15]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ",
"Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +
a_last_name)

In [17]:
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']

In [18]:
city_to_check = input("Enter the name of a city: ")

Enter the name of a city: pakistan

In [25]:
print("The minimum wage in your state is $" + min_wage)

The minimum wage in your state is $100

In [24]:
min_wage = str(100)

In [27]:
city_to_check = input("Enter your city: ")
city_to_check = city_to_check.lower()
cleanest_cities = ["cheyenne", "santa fe", "tucson", "great falls", "honolulu"]
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

Enter your city: tucson
It's one of the cleanest cities

In [28]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}

In [31]:
name = customer_29876[1]

KeyError: 1

In [30]:
print(name)

Elliott

In [33]:
customer_29876["city"] = "Karachi"

In [34]:
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'city': 'Karachi'}

In [35]:
del customer_29876["last name"]

In [36]:
customer_29876

{'first name': 'David', 'address': '4803 Wellesley St.', 'city': 'Karachi'}

In [37]:
customer_29876["city"] = "hyderabad"

In [38]:
customer_29876

{'first name': 'David', 'address': '4803 Wellesley St.', 'city': 'hyderabad'}

In [41]:
for each_value in customer_29876.items():
    print(each_value)

('first name', 'David')
('address', '4803 Wellesley St.')
('city', 'hyderabad')

In [43]:
a_list = ["Argo", "Argon", "Altoona"]
sites = {
  "search": "Google",
  "social": "Facebook",
  "travel": "Travelocity",
  "retail": "Amazon",
}
for name in sites.values():
  if name == "Amazon":
    a_list.append(name)
    break
print(a_list)

['Argo', 'Argon', 'Altoona', 'Amazon']

In [62]:
old = {12: "ks", 13: "kd"}

In [68]:
for a in old.items():
    print(a)

(12, 'ks')
(13, 'kd')

In [59]:
new = {}

In [66]:
minerals = {}
hardness_scale = {
    "talc": 1,
    "gypsum": 3,
    "calcite": 9,
}
for a in hardness_scale.keys():
  minerals[a] = hardness_scale[a]
print(minerals)

{'talc': 1, 'gypsum': 3, 'calcite': 9}

In [70]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
}

In [2]:
customers = [
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
]

In [3]:
customers[1]["first name"]

'Ann'

In [5]:
len (customers)

3

In [6]:
customer_29876 = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    "discounts": ["standard", "volume", "loyalty"],
}

In [9]:
customers = {
    {
        "customer id": 0,
        "first name":"John",
        "last name": "Ogden",
        "address": "301 Arbor Rd.",
    },
    {
        "customer id": 1,
        "first name":"Ann",
        "last name": "Sattermyer",
        "address": "PO Box 1145",
    },
    {
        "customer id": 2,
        "first name":"Jill",
        "last name": "Somers",
        "address": "3 Main St.",
    },
}

TypeError: unhashable type: 'dict'